## Version 2026/03/27
# make sure that your readmeabook container is named readmeabook
# make sure that your dns has a cname set for readmeabook
# readmeabook manages its own authentication (local accounts, Plex OAuth, OIDC)
# do not use SWAG's forward auth stubs (Authelia, Authentik, etc.) -- they will conflict with built-in auth
# Authelia or Authentik CAN be used as an OIDC identity provider via readmeabook's admin settings
# set the PUBLIC_URL environment variable on the readmeabook container to your full public HTTPS URL
# (e.g. PUBLIC_URL=https://readmeabook.yourdomain.com) -- required for Plex OAuth and OIDC callbacks
# websocket support required for Next.js is handled automatically by SWAG's proxy.conf

server {
    listen 443 ssl;
#    listen 443 quic;
    listen [::]:443 ssl;
#    listen [::]:443 quic;

    server_name readmeabook.*;

    include /config/nginx/ssl.conf;

    client_max_body_size 0;

    location / {
        include /config/nginx/proxy.conf;
        include /config/nginx/resolver.conf;
        set $upstream_app readmeabook;
        set $upstream_port 3030;
        set $upstream_proto http;
        proxy_pass $upstream_proto://$upstream_app:$upstream_port;

    }

}
